p.intro {
  width: 50%;
  font-style: sans-serif;
}

h2.intro {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

img.intro {
  width: 50%;

}

.yellow-background {
  background-color: yellow;
  margin: 3px;
  padding: 3px;
  border: solid black 5px;

}